{:filters {:urls #"(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?"
           :retweets #"RT "
           :main-tweets #"MT "
           :mentions #"@" ;; FIXME Potential to clash with a reply system, can't rely on tweets starting with @ though.
           }
 :exclude-words ["fag" "cunt" "nigger" "rape"]}
